/******************************************
/* CSS
/*******************************************/
/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kiwi+Maru&display=swap');


/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* html */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Kiwi Maru', serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* font */
.font1 {
  font-size: 4rem;
}

.mar1 {
  margin-top: 0;
}

.mar2 {
  margin-bottom: 0;
}

.mar {
  margin-top: 1rem;
}

/******************************************
/* LAYOUT*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
} 
  
.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center-text {
  text-align: center;
}

/* the nav*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.containers {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
}

.nav {
  background: linear-gradient(to right, #fff 0%, #f5f5f5 75%, #e4e4e4 100%);
  color: #000;
  height: 80px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav a {
  color: #000;
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.btns {
  border-bottom: 2px #fff solid;
}

.nav .flex {
  justify-content: space-between;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:active {
  color: #808080; 
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  background: #000;
  margin: 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* heading */
.heading {
  height: 680px;
  background-image: url('background-1.jpg');
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.over {
  height: 600px;
}

.heading-card {
  position: relative;
  top: 60px;
  height: 300px;
  width: 300px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-start;
}

.grid-1 {
  grid-template-columns: 1fr;
}

.heading .grid {
  overflow: visible;
  gap: 30px;
}

.heading-card .spanned {
  font-weight: 600;
  font-size: 40px;
}

.card {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.heading-texts {
  display: grid;
  justify-content: center;
  align-items: center;
}

.heading-text .font {
  font-size: 9.5rem;
  font-weight: 300;
  margin: 0;
  margin-top: 4rem;
}

.color {
  color: rgba(255, 255, 255, 0.7);
}

/* button*/
.btn {
  display: inline-block;
  padding: 13px 35px;
  cursor: pointer;
  background: #000;
  border: none;
  color: #fff;
}


.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}

.btn:hover, .btns:hover {
  transform: scale(0.98);
}

.btn:active, .btns:active {
  color: lightblue;
}

.btns {
  display: inline-block;
  padding: 16px 40px;
  cursor: pointer;
  background: #fff;
  border: none;
  color: #000;
}

/* first section */
.spaces {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 400px;
}

/* second section */
.second {
  height: 500px;
  background: rgb(248, 248, 248);
  margin-top: 4rem;
}

/* third section */
.third {
  height: 600px;
  margin-top: 4rem;
}

.bigbtn {
  display: inline-block;
  padding: 0.5rem 3.5rem;
  cursor: pointer;
  background: #000;
  border: none;
  color: #fff; 
  position: relative;
  bottom: 1.6rem;
  left: 4rem;
  width: 250px;
}

.images {
  position: relative;
}

.line-height {
  line-height: 2.2;
}

.span {
  font-weight: 600;
  font-size: 50px;
}

.wdth {
  width: 280px;
  padding: 0.7rem 3.5rem;
}

.text {
  position: relative;
  bottom: 35rem;
  width: 510px;
}

.bigbtns {
  display: inline-block;
  padding: 0.5rem 3.5rem;
  cursor: pointer;
  background: #000;
  border: none;
  color: #fff; 
}

.gap {
  gap: 15px;
}

.image {
  height: 216px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/*ABOUT HTML*/
.backlayer {
  background: rgb(248, 248, 248);
}

.reviews {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1000px; 
}

.review-card {
  width: 30%; 
  margin-bottom: 20px;
  background-color: #f5f5f5; 
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.reviewer-info {
  display: flex;
  justify-content: space-between;
  width: 80%; 
  margin: 0 auto; 
  margin-top: 20px; 
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-info img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.reviewer-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.reviewer-details {
  font-size: 14px;
  color: #808080;
}

.review-content {
  flex: 1; 
}

.review-title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.review-text {
  line-height: 1.9;
  margin-bottom: 18px; 
}

.rating {
  margin-top: 10px;
  color: #808080; 
}

.rating i {
  font-size: 1.2rem;
  margin-right: 5px;
}

hr {
  margin: 30px 0;
}

/*footer*/
.footer {
  height: 250px;
  background-color: #e4e4e4;
}

.footer ul {
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #000;
  padding: 10px;
  margin: 0 5px;
}

.btns{
  border-bottom: 2px #fff solid;
}

.footer .flex {
  justify-content: space-between;
}

.first {
  width: 300px;
}

.hr {
  margin: 0;
  color: #000;
  background-color: inherit;
}

.p {
  text-align: center;
  background-color: inherit;
  margin: 0;
  padding: 10px;
}

/* services */

.image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.services {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.table-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.service {
  width: 100%;
}

.table td {
  padding: 12px;
  text-align: left;
}

.table .column1 {
  width: 70%;
}

.table .column2 {
  width: 30%;
  text-align: right;
}

.p1, .p2 {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.p2 {
  font-style: italic;
}

/*contact*/
.mar {
  margin: 1.5rem 0;
}

.form-container {
  background-color: #f5f5f5;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #222;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #777;
}

/*Mobile responsive*/

/* for nav*/
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #3d3d3d;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    transition: 0.3s;

}

.nav-menu.active {
  left: 0;
}

.nav-item {
  margin: 2.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

}

/* Mobile Responsive Styling for services */
@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .services {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .table td {
    padding: 8px;
  }

  .table .column1, .table .column2 {
    width: 100%;
    display: block;
    text-align: left;
  }

  .table .column2 {
    text-align: left;
    margin-top: 5px;
  }

  .table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .table tr:last-child {
    border-bottom: none;
  }

  .table td::before {
    content: attr(class);
    display: none;
  }

  .p1, .p2 {
    font-size: 12px;
  }
}

/* Responsive Styling for contact */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
    margin: 10px 5%;
  }

  input[type=text], input[type=email], textarea {
    padding: 10px 15px;
    margin: 6px 0;
  }

  input[type=submit] {
    padding: 12px 15px;
  }
}